<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784100962028-429uabcehrdt8l6vr8kfkcq5npejd340.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784100962028-429uabcehrdt8l6vr8kfkcq5npejd340</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784100962028-8fpvrpruq6dcu0plbi2un0u5rkv83cl0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx6WpkBT8c_imm9kw7IIX0q8eYOE2H6is</string>
	<key>GCM_SENDER_ID</key>
	<string>784100962028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderApp</string>
	<key>PROJECT_ID</key>
	<string>order-app-6e31e</string>
	<key>STORAGE_BUCKET</key>
	<string>order-app-6e31e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784100962028:ios:50493e3d5470dfb1a93fc9</string>
</dict>
</plist>